.sibebar {
    width: 180px;
    position: fixed;
    left: 0;
    top: 35px;
    bottom: 0;
    background-color: #444;
    color: #fff;
    &__item {
       display: flex;
       align-items: center;
       padding: 10px;
       font-size: 1.6rem;
       font-weight: bold;
       cursor: pointer;
       &:hover {
          color: #961212;
       }
       i {
          margin-right: 5px;
       }
    }
 }