.dashboard {
   .title {
      padding: 15px 15px 5px;
      // position: relative;
      // &::after {
      //    content: '';
      //    position: absolute;
      //    display: inline-block;
      //    height: 1px;
      //    // left: 190px;
      //    left: 15px;
      //    right: 50px;
      //    bottom: 0;
      //    background-color: #333;
      // }
   }
  .table-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    overflow: hidden;
    tr {
      border-bottom: 1px solid #ccc;
    }
    th,
    td {
      padding: 8px 12px;
      font-size: 1.5rem;
      text-align: left;
      font-weight: bolder;
    }
    th {
      background-color: #e1e1e1;
      text-transform: uppercase;
    }
    .product-image {
      width: 90px;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}
